h1 {
  font-family: "Roboto";
  text-align: center;
  margin-bottom: 10px;
  font-size: 2.6em;
}

.subtitle {
    font-family: "Roboto";
    text-align: center;
    font-size: 1.4em;
    margin-bottom: 40px;
}

.timer {
  font-family: "Roboto";
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 32px;
  font-weight: bold;
}

.text {
  color: #444;
  font-size: 24px;
  font-weight: bold;
}

.value {
  font-size: 60px;
  font-weight: bold;
}

.info {
  max-width: 360px;
  margin: 40px auto 0;
  text-align: center;
  font-size: 16px;
}

button {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.btn-white {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: 800;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    background-color: #fff;
    color: #1abc9b;
    margin: 0;
    font-size: 1.0em;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 0;
    border: none;
}

.btn-white:hover {
    color: #000;
}
